.container {
  width: 100%;
}
.customContainer {
  max-width: 900px;
  margin: auto;
}
.dFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.padding {
  padding: 30px;
}
ul {
  list-style-type: none;
  display: inline-flex;
}
header {
  width: 100%;
}
header .headerTop {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 2px #97455f solid;
}
header .headerTop ul {
  padding-left: 0;
}
header .headerTop .socialIcons {
  width: 50%;
}
header .headerTop .socialIcons i {
  color: #d2d2d2;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
header .headerTop .miniMenu {
  width: 50%;
  font-family: Georgia;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
  width: 253px;
  height: 13px;
}
header .headerTop .miniMenu li {
  color: #97455f;
}
header .header {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
  height: 270px;
}
header .header .logo {
  margin-top: -120px;
}
header .header .customContainer {
  width: 100%;
}
header .header input {
  height: 33px;
  width: 218px;
}
header .header .input-group {
  margin-top: -120px;
}
header .header button {
  background-color: #97455f;
  width: 75px;
  height: 33px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: center;
}
main .grid {
  background-color: white;
  margin-top: -130px;
}
main .grid .menu {
  height: 50px;
  background-color: #97455f;
  border-radius: 10px 10px 0 0;
}
main .grid .menu li {
  font-family: Georgia;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  width: 37px;
  height: 9px;
  margin-right: 31px;
}
main .grid #carousel-example-generic {
  height: 350px;
}
main .grid .bigTitle {
  margin-top: 40px;
}
main .grid .preview {
  display: grid;
  grid-template: 200px 200px  / 300px 300px 300px;
}
main .grid .preview .info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
main .grid .preview .imgPreview {
  flex-shrink: 0;
  margin-right: 10px;
  height: 64px;
  width: 64px;
  background-color: darkslategrey;
}
main .grid .twoArticles {
  display: grid;
  grid-template-rows: 100px 200px;
  grid-template-columns: 400px 400px;
  grid-template-areas: "smallHeader smallHeader2" "article articleQuote";
}
main .grid .twoArticles .smallHeader {
  grid-area: smallHeader;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
main .grid .twoArticles .smallHeader img {
  width: 150px;
  height: 5px;
}
main .grid .twoArticles .article {
  grid-area: article;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
main .grid .twoArticles .article .roundPhoto {
  flex-shrink: 0;
  background-color: darkslategray;
  border-radius: 50%;
  height: 128px;
  width: 128px;
  margin-right: 10px;
}
main .grid .twoArticles .smallHeader2 {
  grid-area: smallHeader;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-area: smallHeader2;
}
main .grid .twoArticles .smallHeader2 img {
  width: 150px;
  height: 5px;
}
main .grid .twoArticles .articalQuote {
  grid-area: articalQuote;
}
